/* index.css */
body {
    background-color: rgb(45, 52, 54) !important;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#titleContainer {
    height: 100px;
    width: 200px;
    position: absolute;
    top: 0px;
    bottom: 385px;
    left: 75px;
    margin: auto;
}
#helpContainer {
    height: 100px;
    width: 200px;
    position: absolute;
    top: 415px;
    bottom: 0px;
    left: 75px;
    margin: auto;
}
#grid {
    height: 650px;
    width: 650px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}
#sizePicker {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 150px;
    margin: auto;
}
#picker {
    height: 561px;
    width: 50px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 150px;
    margin: auto;
}
#userWrapper {
    height: 50px;
    width: 500px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#userText {
    font-family: Arial, Helvetica, sans-serif;
    color: #636e72;
    font-weight: 600;
    font-size: 15px;
}
.row {
    margin-top: 1px;
}
.titleRow {
    width: 200px;
    height: 50px;
}
.gridRow {
    width: 650px;
    height: 25px;
    flex-wrap: nowrap !important;
}
.pickerRow {
    width: 50px;
}
.titleCol, .helpCol {
    width: 250px;
    height: 50px;
    text-align: center;
}
.gridCol {
    width: 25px;
    height: 25px;
    padding: 0px !important;
    margin-left: 1px;
    border-radius: 3px;
}
.pickerCol, .sizeCol {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sizecol.small {
    font-size: 20px;
}
.sizecol.large {
    font-size: 30px;
}
.titleCol p, .helpCol p {
    font-family: Arial, Helvetica, sans-serif;
    color: #636e72;
    font-weight: 600;
    position: relative;
    top: 50%;
}
.helpCol a:hover {
    color: #636e72;
}
#header {
    font-size: 40px;
}
#subheader {
    font-size: 18px;
}
#helpText {
    font-size: 15px;
}
#red {
    color: rgb(235, 59, 90);
}
#orange {
    color: rgb(250, 130, 49);
}
#yellow {
    color: rgb(254, 211, 48);
}
#green {
    color: rgb(32, 191, 107);
}
#blue {
    color: rgb(56, 103, 214);
}
#purple {
    color: rgb(136, 84, 208);
}
#black {
    color: rgb(0, 0, 0);
}
#white {
    color: rgb(255, 255, 255);
}
#rainbow {
    color:rgb(45, 52, 54);
}
#erase {
    color: rgb(99, 110, 114);
}
.selected {
    border-radius: 20px;
    font-size: 30px;
}
.unselected {
    border-radius: 5px;
    font-size: 20px;
}